<div class="field--wrapper">
<div
  class="field"
  style="width:{{options.cell * options.width}}px; height: {{options.cell * options.height}}px;"
  (click)="setPoint()"
>
  <svg
    #svg
    id="field-ctx"
    style="width:100%; height: 100%; border:1px dashed black">
    <style type="text/css">
      line { stroke: #ccc; stroke-width: 2; }
    </style>
    <defs>
      <pattern id="grid1" patternUnits="userSpaceOnUse" width="35" height="35">
        <line x1="0" y1="0" x2="35" y2="0" />
      </pattern>
      <pattern id="grid2" patternUnits="userSpaceOnUse" width="35" height="35">
        <line x1="0" y1="0" x2="0" y2="35" />
      </pattern>
    </defs>

    <rect width="100%" height="100%" fill="url(#grid1)" />
    <rect width="100%" height="100%" fill="url(#grid2)" />

    <!-- <circle
      *ngFor="let point of points"
      [attr.cx]="point.x"
      [attr.fill]="point.color"
      [attr.cy]="point.y"
      [attr.r]="options.dot.radius"
    ></circle>

    <circle
      *ngIf="currentPoint"
      [attr.fill]="currentPoint.color"
      [attr.cx]="currentPoint.x"
      [attr.cy]="currentPoint.y"
      [attr.r]="options.dot.radius"
    ></circle> -->
  </svg>
  <div class="field--points">
    <game-point *ngFor="let point of points" [point]="point"></game-point>
  </div>
</div>
</div>
